<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="1ceb5107-441f-4c81-8186-f20ed4b78225" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 1" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="1ceb5107-441f-4c81-8186-f20ed4b78225fileName">REST-Service-1</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://localhost:8081/</con:endpoint><con:endpoint>http://localhost:8088/</con:endpoint></con:endpoints><con:environmentSpec><con:entry environmentId="0d9cc671-53bc-4f94-82d1-acbefefcffda"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>